code {
  background-color: lightgrey;
}

pre {
  background-color: lightgrey;
  display: inline-block;
}

a, a:visited {
  color: #1a1ada;
}

a:hover {
  text-decoration: none;
}

/* 
code highlighting 
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
}

.hljs-subst {
  color: black;
}

.hljs-title {
  color: #d97e49;
  font-weight: bold;
}

.hljs-keyword {
  color: #000080;
  font-weight: bold;
}

.hljs-string, .hljs-literal, .hljs-symbol, .hljs-number {
  color: #008000;
}

.hljs-attr, .hljs-property {
  color: #1a1ada;
}

.hljs-variables, .hljs-built_in {
  color: #660e7a;
}

.hljs-comment {
  color: #808080;
}


